@import "compass/css3";
@import "compass/typography/links";
@import "compass/typography/lists";

//-----------------------------------------------
// The following html5-boilerplate styles should
// probably be customized for each site
//-----------------------------------------------

body, select, input, textarea {
  color: $font-color;
  // Set your base font here, to apply evenly
  // font-family: Georgia, serif;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

//Headers (h1, h2, etc) have no default font-size or margin; define those yourself
h1, h2, h3, h4, h5, h6 {
  // Bold might not be the best choice if you are
  // embedding a @font-face that's already bold
  font-weight: bold;
}

a, a:active, a:visited { color: $link-color; }
a:hover { color: $link-hover-color; }

strong, th {
  font-weight: bold;
}

small {
  // Use font-size mixin to convert to percentage for YUI
  // http://developer.yahoo.com/yui/3/cssfonts/#fontsize
  @include font-size(11px);  // approx 85% when base-font-size eq 13px
}

// Add the 'required' attribute on your
// inputs if you want to use these
input:valid, textarea:valid {}
input:invalid, textarea:invalid {
  @include border-radius(1px);
  @include single-box-shadow(red, 0, 0, 5px, 0);
}
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid { background-color: #f0dddd; }


//-----------------------------------
// Add your own custom styles below
//-----------------------------------

body {}

#container {
}

header {
  background-color: #333;
  color: #eee;
  a { @include link-colors(#eee, #eee, #eee, #eee); }
  nav { padding-bottom: 16px; }

  nav.organizations {
    position: absolute;
    top: 16px;
    right: 32px;
    background: rgb(188,203,224);
    color: #333;
    @include text-shadow;
    padding: 8px 16px;
    @include border-radius(2px);
    a { @include unstyled-link; }

    li {
      display: block;
      line-height: 24px;
      padding: 0 8px;
      height: 0px;
      overflow: hidden;
      @include background-image(linear-gradient(#eee, #111 4%, rgb(188,203,224) 4%, rgb(188,203,224)));

      &:hover {
        @include background-image(linear-gradient(#eee, #111 4%, adjust-lightness(rgb(188,203,224), 10) 4%, adjust-lightness(rgb(188,203,224), 10)));
      }

      -webkit-transition-property: height;
      -webkit-transition-duration: 300ms;
      -webkit-transition-timing-function: ease;
    }

    li.current {
      @include background(rgb(188,203,224));
    }

    &:hover li, li.current {
      height: 24px;
    }
  }
}

#main {
  margin-top: 16px;
}

footer {}

header, #main, footer { padding-left: 7.5em; padding-right: 7.5em; }

h1 { @include font-size(32px); line-height: 2 }
h2 { @include font-size(24px); line-height: 2 }
h3 { @include font-size(16px); line-height: 1; padding-bottom: 16px; }

p { margin-bottom: 16px; }

table {
  th, td {
    padding: 8px 16px;
    text-align: left;

    &:first-child { padding-left: 0; }
  }

  thead tr {
    border-bottom: 1px solid black;
  }

  tbody tr:nth-child(2n) {
    background-color: #eeeeee;
  }
}

a.report {
  display: block;
  @include unstyled-link;
  &:hover { background-color: #eeeeee; }
}
article.report {
  border-bottom: 1px dotted silver;
  padding-top: 16px;
}

label {
  display: inline-block;
  width: 10em;
}

form.report {
  input.string, textarea {
    width: 600px;
  }

  #report_sql_query {
    font-family: Menlo, Monaco, "Lucida Console", monospace
  }
}

form.report-parameters {
  margin-bottom: 16px;
}
