- if results.empty?
  %p.no_results Report returned no results.
- else
  %table
    %thead
      %tr
        - results.columns.each do |column|
          %th= column
    %tbody
      - results.each do |row|
        - results.columns.each do |column|
          %td= row[column]

