%h2 All Reports

= link_to "New Report", new_report_url

- @reports.each do |report|
  %a.report{:href => url_for(report)}
    %article.report
      %h3= h report.name
      %p.description= h report.description
